# Theme Name: SnazzyBones
# by Rayhan Hasan (rayhan.com)
# Platform: iPod Video (320x240x16) - Standard build
# Version: 2026-07-05a
#
# License: CC-BY-SA 4.0
#
# This theme is based on two great themes:
# - SNAZZY by Chris Graves
# - BONES Chuck Lardo
#
# Repo: https://github.com/rsh/rockbox-themes


#__CFG File

wps: /.rockbox/wps/SnazzyBones.wps
sbs: /.rockbox/wps/SnazzyBones.sbs
font:  /.rockbox/fonts/22-VictorMono-SemiBold.fnt
iconset: /.rockbox/icons/SnazzyBones.bmp
viewers iconset: /.rockbox/icons/SnazzyBones_viewer.bmp
fms: -


#--- General Settings ---#

background color: 000000
foreground color: ffffff
backdrop: -
filetype colours: -
show icons: on
selector type: bar (inverse)
scrollbar: off

#--- EXTRAS REMOVE # To Enable ---#

#--- Time/Brightness/Keyclick ---#
#brightness: 32
#time format: 12hour
#hardware keyclick: on

#--- LCD Settings ---#
#backlight on button hold: on

#--- Quickscreen ---#
qs top: brightness
qs left: shuffle
qs right: repeat
qs bottom: brightness